*{
    box-sizing: border-box;
}
.invoice-body{
    border: 2px solid black;
    margin: 2px;
    padding: 10px;
}
.first{
    border: 1px solid black;
    /* margin: 2px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.second{

    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
}
.third{
    padding: 10px;
    border: 2px solid black;
}
.fourth{

    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
}
.footer{

}
.address{

}
.date{

}
.cash-details{

}
.delivery-terms{

}
.items-header{

    display: flex;
    justify-content: space-between;
    background: gainsboro;
    padding: 5px;
}
.items{
    display: flex;
    justify-content: space-between;
    /* background: gainsboro; */
    padding: 5px;
    height: 185px;
}
.amount{

}
.total{

}
.header-text{
    text-align: center;
    margin-bottom: 4px;
}
.grand-total{
    
}