*{
    box-sizing: border-box;
}
.invoice-body{
    border: 2px solid black;
    margin: 2px;
    padding: 10px;
}
.first{
    border: 1px solid black;
    /* margin: 2px; */
    padding: 10px;
}
.second{

}
.third{

}
.fourth{

}
.footer{

}
.address{

}
.date{

}
.cash-details{

}
.delivery-terms{

}
.items-header{

}
.items{

}
.amount{

}
.total{

}